@CHARSET "UTF-8";

table.t100 {
	width:100%;
	border:0;
}

table.t95 {
	width:95%;
	border:0;
        margin: auto;
}

table.t90 {
	width:90%;
	border:0;
}

table.t80 {
	width:80%;
	border:0;
}

table.t400 {
	width:400px;
	border:0;
}

table.t600 {
	width:600px;
	border:0;
}

table.t800 {
	width:800px;
	border:0;
}

.no-wrap {
	white-space: nowrap;
}

.tdcenter {
	text-align:center;
}

.tdright {
	text-align:right;
}

.tdleft {
	text-align:left;
}

/** size classes (precents) **/
.h100 {
	height:100%;
}
.w100 {
	width:100%;
}
.w95 {
	width:95%;
}
.w80 {
	width:80%;
}
.w20 {
	width:20%;
}
.w15 {
	width:15%;
}
.w10 {
	width:10%;
}
.w1 {
	width:1%;
}

