#pcm{display:none;}
ul.pureCssMenu ul{display:none; z-index:9991;}
ul.pureCssMenu li:hover>ul{display:block;}
ul.pureCssMenu ul{position: absolute;left:-1px;top:98%;}
ul.pureCssMenu ul ul{position: absolute;left:98%;top:-2px;}
ul.pureCssMenu,ul.pureCssMenu ul {
	margin:0px;
	list-style:none;
	padding:0px 2px 2px 0px;
	background-color:#9F0A04;
	background-repeat:repeat;
	border-color:#9F0A04 #9F0A04 #9F0A04 #9F0A04;
	border-width:1px;
	border-style:solid;
}
ul.pureCssMenu table {border-collapse:collapse}ul.pureCssMenu {
	display:block;
	zoom:1;
	float: left;
}
ul.pureCssMenu ul{
	min-width:117.60000000000001px;
}
ul.pureCssMenu li{
	display:block;
	margin:2px 0px 0px 2px;
	font-size:0px;
	width:auto;
}
ul.pureCssMenu li img{
	float:left;
	display:none;
	margin:0 5px 3px 0;
}
ul.pureCssMenu a:active, ul.pureCssMenu a:focus {
outline-style:none;
}
ul.pureCssMenu a, ul.pureCssMenu li.dis a:hover, ul.pureCssMenu li.sep a:hover {
	/*min-width:100px;*/
	width:auto !important;
	display:block;
	vertical-align:middle;
	background-color:#9F0A04;
	border-width:1px;
	border-color:#9F0A04;
	border-style:solid;
	text-align:left;
	text-decoration:none;
	/*padding:2px 5px 2px 10px;*/
	margin: -7px 0 0 0;
	padding:7px 7px 7px 10px;
	white-space:nowrap;
	_padding-left:0;
	/*font:bold 12px Trebuchet MS;*/
	font:bold 12px Arial, Tahoma, Helvetica;
	color: #FFFFFF;
	text-decoration:none;
	cursor:default;
}
ul.pureCssMenu li ul{
	border:1px solid #852020;
	padding:0;
}
ul.pureCssMenu li ul li{
	margin:8px 0 0 0;
	min-width:150px;
	width:auto !important;
}
ul.pureCssMenu span{
	overflow:hidden;
}
ul.pureCssMenu li {
	float:left;
}
ul.pureCssMenu ul li {
	float:none;
	margin:0;
}
ul.pureCssMenu ul a {
	text-align:left;
	white-space:nowrap;
}
ul.pureCssMenu li.sep{
	text-align:left;
	padding:0px;
	line-height:0;
	height:100%;
}
ul.pureCssMenu li.sep span{
	float:none;	padding-right:0;
	width:3px;
	height:100%;
	display:inline-block;
	background-color:#cccccc #111111 #111111 #cccccc;	background-image:none;}
ul.pureCssMenu ul li.sep span{
	width:100%;
	height:3px;
}
ul.pureCssMenu li:hover{
	position:relative;
}
ul.pureCssMenu li:hover>a{
	background-color:#630f0f;
	border-color:#630f0f;
	border-style:solid;
	/*font:bold 12px Trebuchet MS;*/
	font:bold 12px Arial, Tahoma, Helvetica;
	color: #FFFFFF;
	text-decoration:none;
}
ul.pureCssMenu li a:hover{
	position:relative;
	/*background-color:#C6B57D;*/
	background-color:#630f0f;
	border-color:#630f0f;
	/*border-style:solid;*/
	/*font:bold 12px Trebuchet MS;*/
	font:bold 12px Arial, Tahoma, Helvetica;
	color: #FFFFFF;
	text-decoration:none;
}
ul.pureCssMenu li.dis a {
	color: #666 !important;
}
ul.pureCssMenu img {border: none;float:left;_float:none;margin-right:2px;width:16px;
height:16px;
}
ul.pureCssMenu ul img {width:16px;
height:16px;
}
ul.pureCssMenu img.over{display:none}
ul.pureCssMenu li.dis a:hover img.over{display:none !important}
ul.pureCssMenu li.dis a:hover img.def {display:inline !important}
ul.pureCssMenu li:hover > a img.def  {display:none}
ul.pureCssMenu li:hover > a img.over {display:inline}
ul.pureCssMenu a:hover img.over,ul.pureCssMenu a:hover ul img.def,ul.pureCssMenu a:hover a:hover img.over{display:inline}
ul.pureCssMenu a:hover img.def,ul.pureCssMenu a:hover ul img.over,ul.pureCssMenu a:hover a:hover img.def{display:none}
ul.pureCssMenu a:hover ul{display:block}
ul.pureCssMenu span{
	display:block;
	background-image:url(img_css/menu/arr_white.gif);
	background-position:right center;
	background-repeat: no-repeat;
   padding-right:12px;}
ul.pureCssMenu li:hover>a>span{	background-image:url(img_css/menu/arrv_white.gif);
}
ul.pureCssMenu a:hover span{	_background-image:url(img_css/menu/arrv_white.gif)}
ul.pureCssMenu ul span,ul.pureCssMenu a:hover table span{background-image:url(img_css/menu/arr_white.gif)}
