html {
	height: 100%;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	height: 100%;
	margin: 0 ;
	padding: 0;
    text-align:center; /* hack para o IE */
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	width: 100%;
	min-width: 580px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
    margin: 0 auto;
}

/*********************
 * Estilos para Fontes
 *********************/
.font_10 {
	font-size:10px;
}
.font_11 {
	font-size:11px;
}
.font_12 {
	font-size:12px;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
a.red {
	color: #9F0A04;
	outline: none;
	text-decoration: none;
}
a.red:hover {
	color: #D34E48;
	text-decoration: none;
}
a.semefeito:link {text-decoration: none}
a.semefeito:visited {text-decoration: none}
a.semefeito:hover {text-decoration: none}
a.semefeito:active {text-decoration: none}
.corPadrao{
	color:#000000;
}
.fontred {
	color:red;
}
.comment {
	color:#aaa;
}
.comment_peq {
	color:#aaa;
	font-size:10px;
}
.titulo {
	font-size:16px;
	font-weight:bold;
}

.bold {
	font-weight:bold;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 100px;
	background: #9F0A04;
    width: auto;
    margin: 0 auto;
}

.header_shadow {
	border-bottom:2px solid #630f0f;
	-webkit-box-shadow: 0px 2px 4px #888; 
	-moz-box-shadow: 0px 2px 4px #888; 
	box-shadow: 0px 2px 4px #888;
}

#govbar {
    background: url("img_css/govbar.png") no-repeat scroll right center #074E21;
    height: 35px;
    width: 100%;
}

#govbar .cultura {
    background: url("img_css/cultura.png") no-repeat scroll center center transparent;
    display: block;
    float: left;
    height: 35px;
    margin: 0 0 0 25px;
    text-indent: -5000px;
    width: 104px;
}

#govbar .brasil {
    background: url("img_css/brasil.png") no-repeat scroll center center transparent;
    display: block;
    float: right;
    height: 35px;
    margin: 0 25px 0 0;
    text-indent: -5000px;
    width: 94px;
}

#logo {
    /*background-image: url("img_css/logoHeaderBN.jpg");
    background-repeat: no-repeat;*/
    height: 64px;
    width: 100%;
}

/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
        margin: 0 auto;
	padding: 0 0 30px;
	height: 1%;
	position: relative;
        
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	padding: 0 0 0 170px;
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
	margin: -32px auto 0;
	min-width: 580px;
	height: 31px;
	background: #9F0A04;
	text-align:right;
}

/* Menu
-----------------------------------------------------------------------------*/
#divmenu {
	height: 30px;
	background: #9F0A04;
	position: relative;
	z-index: 9992;
	border-bottom:2px solid #630f0f;
	-webkit-box-shadow: 0px 2px 4px #888;
    -moz-box-shadow: 0px 2px 4px #888;
    box-shadow: 0px 2px 4px #888;
	font-family:Arial, Tahoma, Helvetica !important;
	padding:0 0 0 5px;
}

/* titulo pagina
-----------------------------------------------------------------------------*/
.divtitulo {
	width: 100%;
	background: #FFFFFF;
	position: relative;
	margin:15px 0 15px 0;
}

.divtitulo2 {
	position: relative;
	font-size:14px;
	font-weight: bold;
	color: #9F0A04;
	padding: 5px 0 0 30px;
}

/* div monta ligthbox */
#ligthbox_bg{
	display:none;
        position:fixed;
	top:0%;
	left:0%;
        margin: 0 auto;
	width:100%;
	height:100%;
	border:0;
	background: url("img_css/white70p.png") repeat scroll center center transparent;
	z-index: 9995;
}

#ligthbox{
	position:fixed;
	top:40%;
	left:50%;
	margin-left:-300px;
	margin-top:-110px;
	padding:5px;
	border:1px solid #d0d0d0;
	background:#EFEFEF;
	color: #5C5C54;
	overflow-y:hidden;
	overflow-x:hidden;
	color: #000000;
	z-index: 9998;
}

#ligthboxContext{
    height: 95%;
    overflow-y:auto;
        overflow-x:hidden;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* div flutuantes cep */
#popCep{
	display:none;
    position:fixed;
	top:0%;
	left:0%;
    margin: 0 auto;
	width:100%;
	height:100%;
	border:0;
	background: url("img_css/white70p.png") repeat scroll center center transparent;
	z-index: 9995;
}

#popCepCombo{
	position:fixed;
	top:40%;
	left:50%;
	margin-left:-300px;
	margin-top:-110px;
	padding:5px;
	width:600px;
	height:220px;
	border:2px solid #FFFFFF;
	background:#9C9F95;
	overflow-y:auto;
	overflow-x:auto;
	color: #FFFFFF;
	z-index: 9998;
}

#divLoadingXCombo{
	display:block;
	position:fixed;
	top:30%;
	left:35%;
	padding:10px;
	padding-top:50px;
	width:30%;
	height:70px;
	border:1px solid #d0d0d0;
	background:#EFEFEF;
	text-align:center;
	color: #5C5C54;
	z-index: 9999;
}

#divLoadingX{
	display:none;
    position:fixed;
	top:0%;
	left:0%;
    margin: 0 auto;
	width:100%;
	height:100%;
	border:0;
	background: url("img_css/white70p.png") repeat scroll center center transparent;
	z-index: 9995;
}

.popCad{
    display:none;
    position:fixed;
	top:0%;
	left:0%;
    margin: 0 auto;
	width:100%;
	height:100%;
	border:0;
	background: url("img_css/white70p.png") repeat scroll center center transparent;
	z-index: 9995;
}

.popCadCombo{
	position:fixed;
	top:40%;
	left:50%;
	margin-left:-300px;
	margin-top:-110px;
	padding:5px;
	width:600px;
	height:220px;
	border:2px solid #FFFFFF;
	background:#9C9F95;
	overflow-y:auto;
	overflow-x:hidden;
	color: #000000;
	z-index: 9998;
}

/* outros */
#tabelaCadastros{
	border-collapse:collapse;
	border:0px solid #D4D4D4;
	margin-top:5px;
	margin-bottom:5px;
}

#tabelaCadastros th{
	text-align:left;
	padding:2px 10px 10px 10px;
	font-weight: bold;
	font-size: 13px;
	color:#666666;
	border-bottom:1px solid #D4D4D4;
}

#tabelaCadastros td{
	padding:2px;
	text-align:left;
}

#tabelaCadastros td.ptop_10{
	padding-top:10px;
}

#tabelaCadastros td.ptop_5{
	padding-top:5px;
}

#tabelaCadastros2{
	border-collapse:collapse;
	border:0px solid #D4D4D4;
	margin-top:5px;
	margin-bottom:5px;
}

#tabelaCadastros2 td{
	padding:2px;
	text-align:left;
}

#tabelaCadastros2 td.ptop_10{
	padding-top:10px;
}

#tabelaCadastros2 td.ptop_5{
	padding-top:5px;
}

#tabelaListagem1{
	border-collapse:collapse;
	border:0px solid #D4D4D4;
	margin-top:5px;
	margin-bottom:5px;
	width:100%;
	color: #5C5C54;
}

#tabelaListagem1 th{
	background: #9C9F95;
	text-align:left;
	font-weight: bold;
	font-size: 11px;
	color:#FFFFFF;
}

#tabelaListagem1 td{
	padding:2px;
	text-align:left;
}

.select{
	background:#FFFFFF;
	border:1px solid #D4D4D4;
	color:#666666;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}

.inputText{
	outline:none;
	border:1px solid #D4D4D4;
	padding-left:2px;
	color:#666666;
	height:15px;
	text-transform:uppercase;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}

.inputTextFocus{
	background-color:#FCEBEA;
	outline:none;
	border:1px solid #9F0A04; 
	padding-left:2px;
	color:#666666;
	height:15px;
	text-transform:uppercase;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}

.inputDisab{
	background-color: #DFDFDF;
}

.buttonPadrao{
	border:1px solid #666666;
	height:21px;
	font-size:10px;
	font-weight:bold;
	color:#666;
	font-family:verdana;
	text-align:center;
}

.buttonPadrao[disabled]{
	border:1px solid #CCCCCC;
	height:21px;
	font-size:10px;
	font-weight:bold;
	color: #CCC;
	font-family:verdana;
	text-align:center;
	text-shadow: 1px 1px 1px white;
}

.main_content_center{
	width:100%;
        margin: auto;
	border: 0px solid #FF0000;
        padding: 0px;
	text-align:center;
}

.main_content_left{
	width:100%;
	border: 0px solid #FF0000;
}

#fs_div{
	margin: 10px;
	border: 0px solid #FF0000;
}

.areaCadastro2{
	padding-top:15px;
	border-bottom: 1px solid #CCCCCC;
	font-weight:normal;
	font-style: italic;
}

.l_p {
	background-color: #FFFFFF;
}

.l_i {
	background-color: #f0f7e6;
}

.l_p2 {
	background-color: #EEEEEE;
}

.l_i2 {
	background-color: #D6DCC2;
}

/************************************
 * Exibicao de erros de formularios
 ************************************/

.errosValidacao{
	background-color:#EFEFEF;
	border:1px solid #CCCCCC;
	margin-top:3px;
	padding-bottom:5px;
	color:#5C5C54;
}

.errorAlert{
	margin-top:3px;
	margin-left:5px;
	margin-right:5px;
}

.error{
	background-color:#FF0000;
	border:1px solid #CCCCCC;
	margin-top:3px;
	margin-left:5px;
	margin-right:5px;
    padding: 5px 5px;
	text-align:center;
    font-size: 25px;
    color: #FFFFFF;
}

/*****************
 * Autocomplete
 *****************/
 
.autocomplete-w1 { background: bottom right; position:absolute; top:5px; left:6px; /* IE6 fix: */ _background:none; _top:1px; }
.autocomplete-w2 { padding:0 6px 6px 0; }
.autocomplete { width:300px; border:1px solid #999; cursor:pointer; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE specific: */ _height:350px;  _margin:0px 6px 6px 0; overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; cursor:pointer; }
.autocomplete div { padding:2px 5px; white-space:nowrap; cursor:pointer; }
.autocomplete strong { font-weight:normal; color:#3399FF; }


/*****************
 * Form Filtros
 *****************/
 
.form_filtro { font-size:11px; margin:0 0 20px 0; }
.form_filtro fieldset { text-align:left; }
.form_filtro fieldset .filtro_campo { display:inline-block !important; }
.form_filtro fieldset .filtro_campo .margin { margin:0 0 0 15px; }
.form_filtro .filtro_campo { display:inline-block !important; }
.form_filtro .filtro_campo .margin { margin:0 0 0 12px; }


/*********************
 * Pesquisa de Livros
 *********************/
#td_lista {
	width:190px !important;
	max-width:190px !important;
	overflow-x:hidden;
	margin:09px 0 0 30px;
	vertical-align:top;
	height:100% !important;
}
#td_lista #titulo_lista { margin-bottom:5px; }
#box_lista_livros {
	margin:26px 0 0 0;
	border-top:1px dotted #ccc;
	min-height:100% !important;
	max-height:1500px;
	overflow-y:auto !important;
	/*padding:0 10px 0 0;*/
}
#box_livro_center { 
	margin:0px 0 0 0;
	padding:10px;
	border-bottom:1px solid #e5e5e5;
	cursor:default;
	background-color:#f1e4c1;
	/*font-size:11px; */
}
#box_livro { 
	margin:0px 0 0 0;
	padding:10px 5px 10px 10px;
	border-bottom:1px solid #e5e5e5;
	cursor:default; 
}
#box_livro:hover { background-color:#f5f5f5; }
#box_livro div { font-size:11px; }
#box_livro div:first-child { font-weight:bold;max-height:35px;overflow:hidden; }

#td_livros { vertical-align:top; }
#td_livros #container_livros { margin:00px 10px 20px 25px; }
#td_livros #container_livros #titulo_filtro { margin-bottom:5px; }
#td_livros #container_livros #filtro_agrupador { border-bottom:1px dotted #ccc;height:75px; }
#td_livros #container_livros #msg_sem_dados { 
	min-height:30px;
	width:auto;
	padding:10px 0 0 0;
	border:2px solid #d7a564;
	background-color:#f1e4c1;
	font-size:14px;
	font-weight:bold;
	text-align:left;
}
#td_livros #container_livros #paginacao_top {
	height:30px;
	width:auto;
	text-align:left;
	margin:0 30px 0 0;
}
#td_livros #container_livros #box_livro_pesquisa {
	width:155px;
	min-height:150px;
	background-color:#f5f5f5;
	border:1px solid #e5e5e5;
	display:inline-block;
	margin:0 25px 25px 0;
	vertical-align:top;
}
#td_livros #container_livros #box_livro_pesquisa:hover { background-color:#f9f9f9;border:1px solid #e5e5e5; }
