@CHARSET "UTF-8";

table.extensions,
table.extensions tr,
table.extensions td {
	border-collapse: collapse;
	font-size:11px;
}
table.extensions tr.header {
	height:31px;
        
        
        
}

table.extensions th {
	white-space:nowrap;
	color:#ffffff;
	text-align:left;
	padding-left:10px;
	padding-right:10px;
	background:url('img_css/table/no-corner-left-seperator.gif') no-repeat top left;
}

table.extensions th.subtitle{
	white-space:nowrap;
	color:#ffffff;
	text-align:left;
	padding-left:10px;
	padding-right:10px;
	background: #336699;
}

table.extensions th.first {
	background:url('img_css/table/no-corner-left-seperator.gif') no-repeat top left;
	background-position: left -3px;
}
table.extensions th.no-seperator {
	background-position: -3px 0;
}

table.extensions tr.cursor-move {
	cursor: move;
}

table.extensions tr td.arrows img {
	cursor: pointer;
}

table.extensions tbody td {
	border: 1px solid #e7ebe4;
	padding: 3px 5px; 
	vertical-align: middle;
	height: 20px;
	*height: 15px;
}

table.extensions tbody td.noborder {
	border: 0;
	padding: 3px 5px; 
	vertical-align: middle;
	height: 20px;
	*height: 15px;
}

table.extensions tbody td.pr_20 {
	border: 1px solid #e7ebe4;
	padding: 3px 20px 3px 5px; 
	vertical-align: middle;
	height: 20px;
        *height: 15px;
}

table.extensions td a {
	cursor:pointer;
	font-weight:normal;
}

table.extensions td[onclick], table.extensions tr[onclick] {
	cursor:pointer;
	font-weight:normal;
}

table.extensions span.red-info {
	font-weight:normal;
	color:#c83b04;	
}

table.extensions tr.header-separator {
	height:4px;
}

table.extensions tr.header-separator td {
	line-height:0;
	font-size:0;
	border:0;
}

table.extensions td.description-icon {
	padding-right: 0;
	border-right: 0;
}

table.extensions td.name {
	padding-left: 0;
	border-left: 0;
	white-space: nowrap;
}

table.extensions div.button {
	width: 6em;
	background:url('img_css/buttons/right-enabled.gif') no-repeat right;
}
table.extensions div.button[class~="built-in"],
table.extensions div.button[class~="not-loaded-not-loadable"],
table.extensions div.button[class~="not-loaded-no-action"],
table.extensions div.button[class~="not-installed"],
table.extensions div.button[class~="not-loaded-error"] {
	cursor: default;
	background:url('img_css/buttons/right-disabled.gif') no-repeat right;
}

table.extensions div.button div {
	font-weight: normal;
	padding-left: 25px;
	color: #454646;
	font-size: 9px;
	text-transform: uppercase;
}

table.extensions div.button[class~="built-in"] div {
	background:url('img_css/buttons/left-green-disabled.gif') no-repeat left;	
}
table.extensions div.button[class~="loaded-unloadable"] div {
	background:url('img_css/buttons/left-green-enabled.gif') no-repeat left;	
}
table.extensions div.button[class~="not-loaded-loadable"] div {
	background:url('img_css/buttons/left-grey-enabled.gif') no-repeat left;	
}
table.extensions div.button[class~="not-loaded-not-loadable"] div {
	background:url('img_css/buttons/left-grey-disabled.gif') no-repeat left;	
}
table.extensions div.button[class~="not-loaded-unloadable"] div {
	background:url('img_css/buttons/left-grey-enabled.gif') no-repeat left;	
}
table.extensions div.button[class~="not-loaded-no-action"] div {
	background:url('img_css/buttons/left-grey-disabled.gif') no-repeat left;	
}
table.extensions div.button[class~="not-loaded-error"] div {
	background:url('img_css/buttons/left-red-disabled.gif') no-repeat left;	
}
table.extensions div.button[class~="not-loaded-error-fixable"] div {
	background:url('img_css/buttons/left-red-enabled.gif') no-repeat left;	
}
table.extensions div.button[class~="not-installed"] div {
	background:url('img_css/buttons/left-grey-disabled.gif') no-repeat left;	
}

/** OTROS que auxiliam a table **/

table.extensions tbody tr:hover {
	background-color: #C8CFB5;
}

table.extensions tbody tr.noEfeito:hover {
	background-color: #FFFFFF;
}

.icon-led {
	display:block;
	height:21px;
	width:42px;
	margin: 0 auto;
}

